$body-background-color: #f2f2f2;
$button-background-color: #f00;
$button-hover-color: darken($button-background-color, 4%);

$input-row-box-shadow-color: $body-background-color;

$message-text-color: #fff;
$error-background-color: green;
$success-background-color: red;

